.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}
.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}
b
  background-color: #201c34;
  color: white;
  margin: 0px;
}
body{
  margin: 0px;
}

.infra-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.infra{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
